@model MvcCoreAppExam.Models.SimpleChatViewModel
@*
    Simple Chat 画面

    .Net MVC によるシンプルなチャットアプリケーションの練習
*@
@{
}

<div class="main-container">

    @* チャットエリア *@
    <div class="chat-container">

        @if (Model != null)
        {
            foreach (MessageListItem listItem in Model.MessageList)
            {
                if (listItem.From == MessageFrom.MySelf)
                {
                    @* 自身が送信したメッセージ *@
                    <div class="message sent">
                        <img src="~/img/chat/default_image/kkrn_icon_user_1.png" alt="my icon">
                        <p>@listItem.Message</p>
                    </div>
                }
                else
                {
                    @* 他人から受信したメッセージ *@
                    <div class="message received">
                        <img src="~/img/chat/default_image/kkrn_icon_user_4.png" alt="user icon">
                        <p>@listItem.Message</p>
                    </div>
                }
            }

        }
    </div>

    @* メッセージ入力エリア *@
    <div class="input-container">
        @using (Html.BeginForm("SendMessage", "SimpleChat", FormMethod.Post, new { id = "InputForm" }))
        {
            <intput type="hidden" id="InputUserName" name="InputUserName" value="わたし" />
            <input type="text" id="message-input" name="InputMessage" placeholder="メッセージ...">
            <button id="send-button" onclick="$('#InputForm').submit()">送信</button>
        }
    </div>
            
</div>


@*<div>
    @using (Html.BeginForm("SendMessage", "SimpleChat", FormMethod.Post, new { id = "InputForm" }))
    {
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="InputUserName" class="col-form-label">ユーザ名</label>
            </div>
            <div class="col-auto">
                <input id="InputUserName" name="InputUserName" class="form-control">
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="InputMessage" class="col-form-label">メッセージ</label>
            </div>
            <div class="col-auto">
                <input id="InputMessage" name="InputMessage" class="form-control">
            </div>
        </div>
        <button type="button" id="TestButton" class="btn btn-primary"
                onclick="$('#InputForm').submit()">
            送信
        </button>
    }

    @if (Model != null)
    {
        foreach (MessageListItem listItem in Model.MessageList)
        {
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <span>@listItem.SendTime</span>
                </div>
                <div class="col-auto">
                    <span>@listItem.UserName</span>
                </div>
                <div class="col-auto">
                    <span>@listItem.Message</span>
                </div>
            </div>
        }

    }


</div>*@