@*このページで使用するViewModelを定義*@
@model MvcCoreAppExam.Models.CalcViewModel

@{
}

@* 画面個別スタイルシートセクション *@
@section stylesheets {
    <link rel="stylesheet" href="~/css/calc.css" asp-append-version="true">
}
@* 画面個別Javascriptセクション *@
@section scripts {
    <script src="~/js/Calc.js" asp-append-version="true"></script>
}

<p>電卓アプリの作成</p>
<form name="dentaku" id="dentaku">
    <table>
        <!--液晶画面-->
        <tr>
            <td colspan="4"><input type="text" class="display" name="display" value="@Model.DisplayValue" disabled></td>
            <!--disabled:変更不可、入力フォーカス選択などできない状態-->
        </tr>
        <!-- 1段目 AC C del ÷ -->
        <tr>
@*          <td><input type="button" value="AC" onclick="get_calc(this)"></td>
            <td><input type="button" value="C" onclick="get_calc(this)"></td>*@
            <td colspan="3">
                <input type="button" id="c_button" value="C" name="operatorC"
                       onclick="submitInputKey('@Url.Action("InputOperator", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="÷" name="operator÷"
                       onclick="submitInputKey('@Url.Action("InputOperator", "Calc")',this)">
            </td>
        </tr>
        <!-- 2段目 789 × -->
        <tr>
            <td>
                <input type="button" value="7" name="key7"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="8" name="key8"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
                        <td>
                <input type="button" value="9" name="key9"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
                        <td>
                <input type="button" value="×" name="operator×"
                       onclick="submitInputKey('@Url.Action("InputOperator", "Calc")',this)">
            </td>
        </tr>
        <!-- 3段目 456 - -->
        <tr>
            <td>
                <input type="button" value="4" name="key4"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="5" name="key5"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="6" name="key6"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="-" name="operator-"
                       onclick="submitInputKey('@Url.Action("InputOperator", "Calc")',this)">
            </td>
        </tr>
        <!-- 4段目 123 + -->
        <tr>
           @* id="username-submit"*@
            <td>
                @*アクションURLを「Url#Action」メソッドで生成する必要があるため少々冗長だがこのように定義する*@
                <input type="button" value="1" name="key1"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="2" name="key2"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="3" name="key3"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="+" name="operator+"
                       onclick="submitInputKey('@Url.Action("InputOperator", "Calc")',this)">
            </td>
        </tr>
        <!-- 5段目 0 00 . = -->
        <tr>
            <td>
                <input type="button" value="0" name="key0"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="00" name="key00"
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="." name="key."
                       onclick="submitInputKey('@Url.Action("InputKey", "Calc")',this)">
            </td>
            <td>
                <input type="button" value="=" name="operator="
                       onclick="submitInputKey('@Url.Action("InputEqual", "Calc")',this)">
            </td>
        </tr>
    </table>

    @*button で押下された値を格納するエレメント*@
    @*押された値をここに格納しないとコントローラに送られない！*@
    <input type="hidden" id="ClickedValue" name="ClickedValue" />
@*    <input type="hidden" id="ClickedOperator" name="ClickedOperator" />*@
</form>